body {
	left: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQOmr-pG9WMK7OMxR2d9e6UZSgfIHkoGInDJmr84d__QCCZJpIZ);
	background-size: cover;
}

.menu {
	background: #202024 url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTA-2IJ5Vd3CGanDmz8xcYNqpq9YnK-qEzGNHHyVlfh8B2rGWJv') repeat left top;
	left: -285px;
	height: 100%;
	position: fixed;
	width: 285px;
}

.jumbotron {
	height: auto;
	max-height: 100%;
	background-size: cover;
}

.menu ul {
	border-top: 1px solid #636366;
	list-style: none;
	margin: 0;
	padding: 0; 
}

.menu li {
	border-bottom: 1px solid #636366;
	font-family: 'Open Sans', sans-serif;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}

.menu a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon-close {
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
}

.icon-menu {
	color: #fff;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-top: 25px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon-menu i {
	margin-right: 5px;
}

.comments {
	font-family: 'Roboto', sans-serif;
	color: #404040;
	background-color: #eee;
}

.container {
	width: 520px;
	margin-top: 20px;
}

.button-group {
	margin-bottom: 20px;
}

.counter {
	display: inline;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 10px;
}

.posts {
	clear: both;
	list-style: none;
	padding-left: 0;
	width: 100%;
}

.posts li {
	background-color: #fff;
	border: 1px solid #d8d8d8;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
	word-wrap: break-word;
	min-height: 42px;
}